<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Ecommerce Suite" thread-count="3">

    <test name="Test_US">
       <parameter name="region" value="US"/>
        <classes>
            <class name="CucumberRunners.TestRunner"/>
        </classes>
    </test>

<!--    <test name="Test_UK">-->
<!--        <parameter name="region" value="EU"/>-->
<!--        <classes>-->
<!--            <class name="CucumberRunners.TestRunner"/>-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="Test_IN">-->
<!--        <parameter name="region" value="IN"/>-->
<!--        <classes>-->
<!--            <class name="CucumberRunners.TestRunner"/>-->
<!--        </classes>-->
<!--    </test>-->

</suite>
